<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
<meta charset="utf-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">
</head>
<body>
	<div th:fragment="navigation">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/}">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/motogp/riders/addRider}">Add Rider</a></li>
					<li class="nav-item"><a class="nav-link" href="#"
						th:href="@{/motogp/riders/list}">List of Riders</a></li>
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>