<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
<title>List of Moto GP Riders</title>
<meta charset="utf-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">

<style type="text/css">
.table-col-text {
	vertical-align: middle !important;
	font-weight: bold;
}
</style>

</head>
<body>

	<div th:insert="navbar :: navigation"></div>

	<div class="container">
		<p>
		<h3>Moto GP Riders</h3>
		</p>
	</div>

	<div class="container">

		<table class="table table-striped">
			<caption>List Of Moto GP Riders</caption>
			<thead class="thead-dark">
				<tr>
					<th scope="col">Photo</th>
					<th scope="col">Name</th>
					<th scope="col">Surname</th>
					<th scope="col">Team Name</th>
					<th scope="col">Number</th>
					<th scope="col">Country</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${riders.empty}">
					<td colspan="4">No Riders Available</td>
				</tr>
				<tr th:each="rider : ${riders}">
					<td><img th:src="${rider.profilePhotoUrl}"
						width="75" height="75" class="rounded-circle" /></td>
					<td th:text="${rider.name}" class="table-col-text"></td>
					<td th:text="${rider.surname}" class="table-col-text"></td>
					<td th:text="${rider.teamName}" class="table-col-text"></td>
					<td th:text="${rider.number}" class="table-col-text"></td>
					<td><img th:src="${rider.countryPhotoUrl}"
						width="75" height="75" class="rounded-circle" /></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>