<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <title>Add a F1 Driver</title>
    <meta charset="utf-8"/>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">


    <script type="text/javascript">
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function() {
		'use strict';
		window.addEventListener('load', function() {
			// Fetch all the forms we want to apply custom Bootstrap validation styles to
			var forms = document.getElementsByClassName('needs-validation');
			// Loop over them and prevent submission
			var validation = Array.prototype.filter.call(forms, function(form) {
				form.addEventListener('submit', function(event) {
					if (form.checkValidity() === false) {
						event.preventDefault();
						event.stopPropagation();
					}
					form.classList.add('was-validated');
				}, false);
			});
		}, false);
	})();

    </script>

</head>
<body>

<div th:insert="navbar :: navigation"></div>

<div class="container">
    <p>
    <h3>Save a F1 Driver</h3>
    </p>
</div>
<div class="container">
    <form method="post" th:action="@{/f1/drivers/driver}"
          enctype="multipart/form-data" class="needs-validation" novalidate>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="f1_driverFirstNameId">Team name</label> <input type="text"
                                                                    class="form-control" id="f1_driverFirstNameId"
                                                                    th:field="${driver.firstName}"
                                                                    placeholder="First Name" value="First Name" required>
                <div class="invalid-feedback">Please provide a valid First Name.</div>
            </div>
            <div class="col-md-6 mb-3">
                <label for="f1_driverLastNameId">Last Name</label> <input type="text"
                                                                    class="form-control" id="f1_driverLastNameId"
                                                                    th:field="${driver.lastName}"
                                                                    placeholder="Last Name" value="Last Name" required>
                <div class="invalid-feedback">Please provide a valid Last Name.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="driverPhotoId">Profile photo</label>
                <input type="file" name="driverPhoto"
                       id="driverPhotoId" class="form-control"/>
            </div>
            <div class="col-md-6 mb-3">
                <label for="f1_driverNumberId">Number</label> <input type="number" min="0" max="99"
                                                                      class="form-control" id="f1_driverNumberId"
                                                                      th:field="${driver.number}"
                                                                      placeholder="Number" value="Number" required>
                <div class="invalid-feedback">Please provide a valid Number.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="driverCountryPhotoId">County photo</label>
                <input type="file" name="driverCountryPhoto"
                       id="driverCountryPhotoId" class="form-control"/>
            </div>
            <div class="col-md-6 mb-3">
                <label for="f1_driverCountryNameId">Country</label> <input type="text"
                                                                        class="form-control" id="f1_driverCountryNameId"
                                                                        th:field="${driver.countryName}"
                                                                        placeholder="Country" value="Country" required>
                <div class="invalid-feedback">Please provide a valid Country.</div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="f1_driverTeamId">Team</label>
                <select th:field="${driver.team.id}" id="f1_driverTeamId" class="form-control">
                    <option value=""> -- </option>
                    <option th:each="team : ${teams}"
                            th:value="${team.id}"
                            th:utext="${team.name}"/>
                </select>
                <div class="invalid-feedback">Please select a Team.</div>
            </div>
        </div>

        <button class="btn btn-dark" type="submit">Save Driver</button>

    </form>
</div>

</body>
</html>