<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <title>List of F1 Drivers</title>
    <meta charset="utf-8"/>
    <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
            crossorigin="anonymous">

    <style type="text/css">
.table-col-text {
	vertical-align: middle !important;
	font-weight: bold;
}





    </style>

</head>
<body>

<div th:insert="navbar :: navigation"></div>

<div class="container">
    <p>
    <h3>F1 Drivers</h3>
    </p>
</div>

<div class="container">

    <div class="row">
        <div class="col-sm-3" th:each="driver : ${drivers}">
            <div class="container">
                <div class="card" style="width: 18rem;margin: 6px; height: 512px;">
                    <img th:src="${driver.profilePhotoUrl}" class="card-img-top">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                            <span class="card-title" style="font-weight:bold"
                                  th:text="${driver.firstName + ' ' + driver.lastName}"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <img th:src="${driver.countryFlagUrl}" width="42" height="27"
                                     class="img-thumbnail" style="margin-top:20px;"/>
                            </div>
                            <div class="col-sm" style="margin-top: -32px;">
                            <span class="card-text" th:text="${driver.number}"
                                  style="font-size: 80px;font-weight:bold;"/>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <img th:src="${driver.team.countryFlagUrl}" width="42" height="27"
                                     class="img-thumbnail"/>
                            </div>
                            <div class="col-sm">
                                <span class="card-title" th:text="${driver.team.name}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>