<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title>F1 Drivers and Team</title>
    <meta charset="utf-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body>

<div th:insert="navbar :: navigation"></div>

<div class="container">
    <p>
    <h3>F1 Drivers and Teams Application</h3>
    </p>
</div>
<div class="container">

    <a class="btn btn-dark" href="#" th:href="@{/f1/teams/addTeam}"> Create A Team </a>
    <a class="btn btn-dark" href="#" th:href="@{/f1/drivers/addDriver}"> Create A Driver </a>

</div>
</body>
</html>