<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<head>
<title>List of F1 Teams</title>
<meta charset="utf-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
	crossorigin="anonymous">

<style type="text/css">
.table-col-text {
	vertical-align: middle !important;
	font-weight: bold;
}
</style>

</head>
<body>

	<div th:insert="navbar :: navigation"></div>

	<div class="container">
		<p>
		<h3>F1 Teams</h3>
		</p>
	</div>

	<div class="container">

		<table class="table table-striped">
			<caption>List Of F1 Teams</caption>
			<thead class="thead-dark">
				<tr>
					<th scope="col">Team Name</th>
					<th scope="col">Counrty</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${teams.empty}">
					<td colspan="4">No Teams Available</td>
				</tr>
				<tr th:each="team : ${teams}">
					<td th:text="${team.name}" class="table-col-text"></td>
					<td><img th:src="${team.countryFlagUrl}"
						width="40" height="40" class="rounded-circle" /></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>